# Data Wrangling

Now that I have gathered the data necessary for the project, it's time to do some exploratory data analysis and also determine which label will be suitable for training the machine learning model later.

In the data set, there are several cases where the booster didn't successfully land. There are four categories in

In [6]:
import pandas as pd
import numpy as np

launch_data_wiki = pd.read_csv('datasets/launch_data_falcon9_wiki.csv', index_col=False)
launch_data_api = pd.read_csv('datasets/launch_data_falcon9_api.csv')

In [7]:
launch_data_wiki.head()

,Unnamed: 0,Flight No.,Launch site,Payload,Payload mass,Orbit,Customer,Launch outcome,Version Booster,Booster landing,Date,Time
0,0,1,CCAFS,Dragon Spacecraft Qualification Unit,0,LEO,SpaceX,Success,F9 v1.0B0003.1,Failure,4 June 2010,18:45
1,1,2,CCAFS,Dragon,0,LEO,NASA,Success,F9 v1.0B0004.1,Failure,8 December 2010,15:43
2,2,3,CCAFS,Dragon,525,LEO,NASA,Success,F9 v1.0B0005.1,No attempt,22 May 2012,07:44
3,3,4,CCAFS,SpaceX CRS-1,"4,700",LEO,NASA,Success,F9 v1.0B0006.1,No attempt,8 October 2012,00:35
4,4,5,CCAFS,SpaceX CRS-2,"4,877",LEO,NASA,Success,F9 v1.0B0007.1,No attempt,1 March 2013,15:10

In [5]:
launch_data_api.head()

,FlightNumber,Date,BoosterVersion,PayloadMass,Orbit,LaunchSite,Outcome,Flights,GridFins,Reused,Legs,LandingPad,Block,ReusedCount,Serial,Longitude,Latitude
0,1,2010-06-04,Falcon 9,6123.547647,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0003,-80.577366,28.561857
1,2,2012-05-22,Falcon 9,525.000000,LEO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0005,-80.577366,28.561857
2,3,2013-03-01,Falcon 9,677.000000,ISS,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B0007,-80.577366,28.561857
3,4,2013-09-29,Falcon 9,500.000000,PO,VAFB SLC 4E,False Ocean,1,False,False,False,NaN,1.0,0,B1003,-120.610829,34.632093
4,5,2013-12-03,Falcon 9,3170.000000,GTO,CCSFS SLC 40,None None,1,False,False,False,NaN,1.0,0,B1004,-80.577366,28.561857